<!-- Projet 7: découverte composer-->
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="view/script.js" defer></script>
	<link rel="stylesheet" href="style.css" />
	<title>Liste des tâches</title>
</head>
<body>
	<h1>Listes des tâches</h1>
<fieldset id="marge1" class="margeGlobal">
	<br>
	<fieldset class="marge margeGlobal">	
		<!-- ajout d'une tâche-->
		<legend>Ajouter une tâche</legend>
			<label for="tache" id="tache1"> Tâche: </label>
			<input type="textarea" name="tache" id="tache" required />
			<button onclick="insert()" class="enregistrer">Enregistrer</button>
	</fieldset>	
	<br>
	<ul>
		{{# listes }}
			<button id="{{id}}" onclick="sup(this)" class="buttonX">X</button> 
			{{tache}}
			<br><br>
		{{/ listes }}
	</ul>
</fieldset>
</body>
</html> 